*{
  font-family: "Poppins" , sans-serif;
}
body{
    background-color: #023047;
    color: white;
    background-image: url('zcod-home-img.png');
    background-size: 100% 200px;
    background-repeat: no-repeat;
}
.main-service-card{
    padding-top: 27px;
    padding-bottom: 27px;
}
.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #023047;
  }
 
  
  input[type=text]{
    height: 50px;
    width: 100%;
    margin: 12px 0;
    border: none;
    outline: none;
    font-size: 16px;
    background: #219dbca0;
    border-radius: 6px;
    padding: 0 15px;
  }
  .main{
    margin-top: 170px;
    color: #ffffff
  }
  .main h1{
    margin: 0;
  }
  .main-service-card{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
   }
   /* .box:last-child{
    margin-bottom: 50px;
   } */
   .box{
    /*border: 2px solid black;*/
    height: 410px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 80px;
    margin-left:1rem ;
    margin-right: 1rem;
    color: #219ebc;
    transition-duration: 1s;
    border-radius: 10px;
   }
   .box:hover{
      transform: scale(1.1);
      transition-duration: 1s;
   }

   .box-img{
    height: 330px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-size: cover;
   }
   .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    
   }
   .box-content p{
    color: #007185;
   }

   div h2{
    margin-top: 0;
    margin-bottom: 10px;
   }

   footer{
    margin-top: 100px;
  }
  hr {  
    height: 1px;  
    background-color: rgb(255, 255, 255);  
    border: none;  
  }
  .space{
    padding: 20px;
  }
  