.main1-2{
    margin-top:60px;
    margin-left: 150px;
    width: 85%;
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.279);
  }